body {
  font-family: monospace;
  height: 1000vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}

a {
  color: #00a621;
  font-weight: 600;
}
