:host {
  transition: transform 0.2s ease-in-out;
}

a:not(.visible) {
  display: none;
}

:host(:hover) {
  transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
  :host {
    --bg-badge: #000;
    --text-badge: #fff;
  }
}
