:host {
  --bg-logo: #00a621;
  --text-logo: #fff;
  transition: transform 0.2s ease-in-out;
}

a:not(.visible) {
  display: none;
}

:host(:hover) {
  transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  :host {
    --bg-badge: #fff;
    --text-badge: #000;
  }
}

@media (prefers-color-scheme: light) {
  :host {
    --bg-badge: #000;
    --text-badge: #fff;
  }
}
